body{
  background-color: #004F00 !important;
  color: white !important;
  text-align: center;
}
.end{
  font-size: 50px;
  color: red;
}
.dealer{
  position: relative;
  border: 2px solid white;
  width: 100px;
  height: 30px;
  text-align: right;
  line-height: 7px;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 9px;
  margin-top: 9px;
  transition: .3s;
}
.author{
  position: relative;
  border: 2px solid white;
  width: 100px;
  height: 30px;
  text-align: right;
  line-height: 7px;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  margin: 3px;
  transition: .3s;
}
.jakub, .oliwia{
  position: relative;
  border: 2px solid white;
  width: 90px;
  height: 30px;
  text-align: right;
  line-height: 7px;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 9px;
  margin-top: 9px;
  transition: .3s;
}
.julia{
  position: relative;
  border: 2px solid white;
  width: 80px;
  height: 30px;
  text-align: right;
  line-height: 7px;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 9px;
  margin-top: 9px;
  transition: .3s;
}
.bernadetta{
  position: relative;
  border: 2px solid white;
  width: 120px;
  height: 30px;
  text-align: right;
  line-height: 7px;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 9px;
  margin-top: 9px;
  transition: .3s;
}
.image{
  position: absolute;
  left: 5px;
  top: -10px;
}
.dealer:hover, .author:hover, .jakub:hover, .julia:hover, .bernadetta:hover, .oliwia:hover, .hero:hover{
  background-color: #017501;
  filter: drop-shadow(0px 0px 5px #ffffff);
  -webkit-filter: drop-shadow(0px 0px 5px #ffffff);
  -moz-filter: drop-shadow(0px 0px 5px #ffffff);
}

a{
  position: relative;
  text-decoration: none !important;
  color: white;
  width: 100px;
  display: inline;
}
a:hover, a:focus{
  color: white;
}
.hero{
  display: table-cell;
  padding: 16px;
  position: relative;
  border: 2px solid white;
  width: 150px !important;
  margin: 0 auto;
  border-radius: 10px;
  margin: 3px;
  transition: .2s;
}
.tooltip-inner {
    max-width: 550px !important;
}
.discord{
  width: 16px;
  height: 16px;
  margin-right: 3px;
}
@media only screen and (max-width: 1080px) {
  .cow{
    display: none;
  }
  h6{
    font-size: 30px;
  }
  h1{
    font-size: 150px;
  }
  h3{
    margin-top: 100px;
    font-size: 100px;
  }
  .hero{
    font-size: 60px !important;
    display: block;
    padding: 16px;
    position: relative;
    border: 2px solid white;
    text-align: center;
    line-height: normal;
    width: 100% !important;
    height: 370px;
    border-radius: 0px;
    margin: 0px;
    transition: .2s;
  }
  .hero-img{
    margin-top: 70px;
    margin-bottom: 75px;
    transform: scale(3);
  }
  .bernadetta, .julia, .jakub, .oliwia, .author, .dealer{
    font-size: 100px !important;
    display: block;
    padding: 16px;
    position: relative;
    border: 2px solid white;
    height: auto;
    text-align: center;
    line-height: normal;
    width: 100% !important;
    height: 300px;
    border-radius: 0px;
    margin: 0px;
    transition: .2s;
  }
  .image{
    transform: scale(3);
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    display: block;
    position: relative;
    left: auto;
    top: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
  }
  .tooltip{
    display: none !important;
  }
  .dealer:hover, .author:hover, .jakub:hover, .julia:hover, .bernadetta:hover, .oliwia:hover, .hero:hover{
    background-color: inherit;
    filter: none !important;
    -webkit-filter: none !important;
    -moz-filter: none !important;
  }
  .tooltip{
    display: none;
  }
  .discord{
    transform: scale(2);
    margin-right: 10px;
  }
}
