body{
  background-color: #004F00 !important;
  text-align: center;
}
h4{
  text-align: center;
  color: white !important;
  padding: 0;
}
#demo {
    background: url(https://i.imgur.com/j6kCqg4.png) no-repeat center center;
    image-rendering: pixelated;
    height: 505px;
    width: 468px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 10px;
    max-width: 100%;
}
.back{
  border: 2px solid white;
  width: 100px !important;
  padding: 10px;
  border-radius: 10px;
  display: inline;
  margin: 3px;
  transition: .2s;
  position: relative;
  z-index: 1;
}
.back:hover{
  background-color: #017501;
  filter: drop-shadow(0px 0px 5px #ffffff);
  -webkit-filter: drop-shadow(0px 0px 5px #ffffff);
  -moz-filter: drop-shadow(0px 0px 5px #ffffff);
}
a{
  position: relative;
  text-decoration: none !important;
  color: white !important;
  width: 100px;
  display: inline;
}
a:hover, a:focus{
  color: white !important;
}
.resp-at{
  position: absolute;
  top: 435px;
  left: 343px;
  background-color: rgba(255,0,0,.7);
  border: 1px solid black;
  width: 38px;
  height: 26px;
}
.resp-wr{
  position: absolute;
  top: 472px;
  left: 73px;
  background-color: rgba(255,0,0,.7);
  border: 1px solid black;
  width: 38px;
  height: 33px;
}
.resp-lw{
  position: absolute;
  top: 472px;
  left: 0px;
  background-color: rgba(255,0,0,.7);
  border: 1px solid black;
  width: 38px;
  height: 33px;
}
.resp-pg{
  position: absolute;
  top: 386px;
  left: 0px;
  background-color: rgba(255,0,0,.7);
  border: 1px solid black;
  width: 26px;
  height: 38px;
}
.resp-lz{
  position: absolute;
  top: 435px;
  left: 380px;
  background-color: rgba(255,0,0,.7);
  border: 1px solid black;
  width: 38px;
  height: 26px;
}
.resp-wysp{
  position: absolute;
  top: 472px;
  left: 37px;
  background-color: rgba(0,255,0,.7);
  border: 1px solid black;
  width: 37px;
  height: 33px;
  cursor: pointer;
}
.resp-rp{
  position: absolute;
  top: 447px;
  left: 0px;
  background-color: rgba(255,0,0,.7);
  border: 1px solid black;
  width: 38px;
  height: 26px;
}
.resp-pz{
  position: absolute;
  top: 422px;
  left: 0px;
  background-color: rgba(255,0,0,.7);
  border: 1px solid black;
  width: 38px;
  height: 26px;
}
.resp-bwk{
  position: absolute;
  top: 386px;
  left: 398px;
  background-color: rgba(255,0,0,.7);
  border: 1px solid black;
  width: 38px;
  height: 26px;
}
.alert{
  height: 505px;
  width: 468px;
  position: absolute;
  display: none;
}
.close{
  position: absolute;
  left: 430px;
}
