body{
  background-color: #004F00 !important;
  text-align: center;
}
h4{
  text-align: center;
  color: white !important;
  padding: 0;
}
#demo {
    background: url(https://i.imgur.com/j6kCqg4.png) no-repeat center center;
    image-rendering: pixelated;
    height: 505px;
    width: 468px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 10px;
}
.back{
  border: 2px solid white;
  width: 100px !important;
  padding: 10px;
  border-radius: 10px;
  display: inline;
  margin: 3px;
  transition: .2s;
  position: relative;
  z-index: 1;
}
.back:hover{
  background-color: #017501;
  filter: drop-shadow(0px 0px 5px #ffffff);
  -webkit-filter: drop-shadow(0px 0px 5px #ffffff);
  -moz-filter: drop-shadow(0px 0px 5px #ffffff);
}
a{
  position: relative;
  text-decoration: none !important;
  color: white !important;
  width: 100px;
  display: inline;
}
a:hover, a:active{
  color: white !important;
}
.resp-skt{
  position: absolute;
  top: 276px;
  left: 368px;
  background-color: rgba(255,0,0,.7);
  border: 1px solid black;
  width: 26px;
  height: 38px;
}
.resp-rm{
  position: absolute;
  top: 300px;
  left: 307px;
  background-color: rgba(255,0,0,.7);
  border: 1px solid black;
  width: 38px;
  height: 26px;
}
.resp-zs{
  position: absolute;
  top: 153px;
  left: 258px;
  background-color: rgba(255,0,0,.7);
  border: 1px solid black;
  width: 38px;
  height: 26px;
}
.resp-nj{
  position: absolute;
  top: 178px;
  left: 295px;
  background-color: rgba(255,0,0,.7);
  border: 1px solid black;
  width: 26px;
  height: 26px;
}
.resp-pn{
  position: absolute;
  top: 337px;
  left: 381px;
  background-color: rgba(255,0,0,.7);
  border: 1px solid black;
  width: 38px;
  height: 26px;
}
.resp-zt{
  position: absolute;
  top: 153px;
  left: 295px;
  background-color: rgba(255,0,0,.7);
  border: 1px solid black;
  width: 26px;
  height: 26px;
}
.resp-wg{
  position: absolute;
  top: 165px;
  left: 368px;
  background-color: rgba(255,0,0,.7);
  border: 1px solid black;
  width: 26px;
  height: 26px;
}
.resp-sp{
  position: absolute;
  top: 264px;
  left: 319px;
  background-color: rgba(255,0,0,.7);
  border: 1px solid black;
  width: 26px;
  height: 26px;
}
.resp-gb{
  position: absolute;
  top: 300px;
  left: 344px;
  background-color: rgba(255,0,0,.7);
  border: 1px solid black;
  width: 25px;
  height: 38px;
}
.resp-sw{
  position: absolute;
  top: 276px;
  left: 270px;
  background-color: rgba(255,0,0,.7);
  border: 1px solid black;
  width: 26px;
  height: 26px;
}
.resp-lw{
  position: absolute;
  top: 276px;
  left: 233px;
  background-color: rgba(255,0,0,.7);
  border: 1px solid black;
  width: 38px;
  height: 26px;
}
.resp-fe{
  position: absolute;
  top: 227px;
  left: 344px;
  background-color: rgba(255,0,0,.7);
  border: 1px solid black;
  width: 25px;
  height: 38px;
}
.resp-dr{
  position: absolute;
  top: 165px;
  left: 344px;
  background-color: rgba(255,0,0,.7);
  border: 1px solid black;
  width: 25px;
  height: 38px;
}
